.contact-us-info {
  display: grid;
  grid-template-columns: 810px 592px;
  width: 100%;
  justify-content: start;
  margin-top: 53px;
  &__map {
    width: 810px;
    height: 462px;
    outline: 1px dashed pink;
  }
}