.judge-card-description {
  padding: 40px 25px 0 30px;
  &__container {
    display: grid;
    grid-template-columns: 320px auto;
    grid-template-rows: 1fr;
    align-items: start;
    justify-content: space-between;
  }
}