.logo-container {
  display: grid;
  grid-template-columns: 240px 152px;
  width: 260px;
  height: 145px;
  align-items: center;
  &__hashtag {
    margin: 21px 0 0 4px;
    color: $main-yellow-color;
    font-size: #{$base-font-size - 1};
    letter-spacing: 1.7px;
    //&--invisible {
    //  display: none;
    //}
  }
}