.nav-items {
  display: grid;
  list-style-type: none;
  grid-template-columns: 120px 147px 97px 111px 139px;
  column-gap: 33px;
  margin-left: 656px;
  margin-top: 5px;
  outline: 1px dashed pink;
  padding: 0;
  &__link {
    text-decoration: none;
    color: $base-font-color;
    &--main-page {
      color: $font-color-inverted;
    }
  }
}