.nav-items {
  display: grid;
  list-style-type: none;
  width: 750px;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 645px;
  outline: 1px dashed pink;
  &__link {
    text-decoration: none;
    color: $base-font-color;
    &--main-page {
      color: $font-color-inverted;
    }
  }
}