.socials {
  width: 180px;
  &__items {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    color: $main-white-color;
  }
  &__link {
    color: $main-white-color;
  }
}