.tickets-description {
  display: grid;
  grid-template-columns: 480px 940px;
  justify-content: space-between;
  outline: 1px solid pink;
  &__description {
    line-height: 1.5;
  }
  &__tel {
    color: $main-purple-color;
    font-size:calc(100% + 3px);
    text-decoration: none;
  }
}