.tickets-price-table {
  width: 940px;
  box-sizing: border-box;
  &__title {
    margin: 0;
  }
  &__btn {
  }
  &__cell-header {
    box-sizing: border-box;
    text-align: center;
    width: 235px;
    &:first-of-type {
      width: 260px;
    }
  }
  &__cell {
    box-sizing: border-box;
    text-align: center;
    padding: 11px 30px;
    width: 235px;
    &:first-of-type {
      width: 260px;
    }
  }
  &__row {
    height: 52px;
  }
  &__row:nth-of-type(even) {
    background-color: rgba($main-gold-color, 0.1);
  }
  &__row:first-of-type {
    background-color: $main-white-color;
  }
  &__body {
    border-radius: 5px;
    border: 1px solid $main-gold-color;
  }
}