.tickets {
  display: grid;
  margin-left: $body-margin-left;
  grid-template-rows: 92px 344px;
  &__title {
    @include h2-header-text;
    margin-bottom: 30px;
  }
  &__price {
    margin: 0 auto;
    outline: 1px solid green;
  }
}