$main-black-color: #333333;
$main-white-color: #ffffff;
$main-purple-color: #7C6AAD;
$main-yellow-color: #F2C03F;

$font-color-primary: $main-black-color;
$header-color: $main-purple-color;
$base-font-color: $main-black-color;
$font-color-inverted: $main-white-color;
$base-font-size: 18px;
$h1-font-size: 72px;
$h4-font-size: 24px;

$font-family: 'Lato', 'Times New Roman', sans-serif;


