@import 'normalize.css';
@import './_variables.scss';
@import './_mixins.scss';
@import './_fonts.scss';
@import './blocks/header-container';
@import './blocks/logo-container';
@import './blocks/main-menu';
@import './blocks/nav-items';
@import './blocks/lang';
@import './blocks/slider';
@import './blocks/slide';
@import './blocks/slide-first';
@import './blocks/slider-directions';
@import './blocks/socials';
@import './blocks/social-icon';
@import './blocks/info-table';
@import './blocks/link-button';
@import './blocks/participants';
@import './blocks/participant';
@import './blocks/participant-slider';
@import './blocks/participant-slide-directions';
@import './blocks/participant-card';
@import './blocks/judges';
@import './blocks/judge-card';
@import './blocks/judges-slider';
@import './blocks/judge-card-description';
@import './blocks/tickets';
@import './blocks/tickets-description';
@import './blocks/tickets-payment';
@import './blocks/tickets-price-table';
@import './blocks/contact-us';
@import './blocks/contact-us-info';
@import './blocks/contact-us-info-list';
@import './blocks/main-header';
@import './blocks/booking';
@import './blocks/booking-btn';
@import './blocks/participant-card-social';
@import './blocks/icon';
@import './blocks/participants-slider-directions';
@import './blocks/participants-slider';
@import './blocks/tickets-price';
@import './blocks/contact-us-form';
@import './blocks/btn';

.main-body {
  margin: 0 auto;
  color: $font-color-primary;
  font-family: $font-family;
  font-size: $base-font-size;
  width: $main-body-desktop-width;
  background-size: 1920px 1080px;
  &--main-page {
    background-image: $main-linear-gradient;
    &::before {
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      width: 1400px;
      height: 767px;
      background-image: url(../img/icons/img-bfw.svg);
      background-repeat: no-repeat;
      background-position: 50px 200px;
      background-size: 1400px 767px;
    }
  }
}

a,H1, H2, H3, H4, H5, H6 {
  font-family: $font-family;
}



